.square{
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.5;
}

.grid-container{
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    border: 1px solid black;
    margin:  0  auto;
}

